# 빅데이터 분석 기사 실기 - 기출문제

---

## 기출문제 6회

### 제1유형

#### 제1유형: 1
각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들어 초(sec)단위로 구하고,  
소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라.

#### 제1유형: 2
학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 골라서,  
해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아 해당 학교의 교원수를 출력하라.

#### 제1유형: 3
5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자.  
2018, 2019년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고   
해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라.  
- 1분기: 1,2,3월
- 2분기: 4,5,6월
- 3분기: 7,8,9월
- 4분기: 10,11,12월
- 1분기 월평균 : 1,2,3월의 총범죄수 평균

---

#### 제1유형: 1
각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들어 초(sec)단위로 구하고,  
소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/기출문제6회_1유형.csv')
df

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집
...,...,...,...,...,...,...,...,...,...
2757,20211109507M05492,성북소방서,복통,20211102,34700,20211102,34800,직장인,집
2758,20211117104M01900,강서소방서,고열,20210414,190900,20210414,191200,무직,의료관련시설
2759,20211111106M01431,노원소방서,호흡곤란,20210524,235900,20210525,130,무직,집
2760,20211107102M01938,동대문소방서,요통,20210715,152000,20210715,152244,직장인,집
2761,20211110509M01584,도봉소방서,의식장애,20210401,223400,20210401,223800,무직,집

In [3]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

In [4]:
sr1 = pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))
sr2 = pd.to_datetime(df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6))

In [5]:
df['소요시각'] = (sr1 - sr2).dt.total_seconds()

In [6]:
df

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시각
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,162.0
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,147.0
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,240.0
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집,571.0
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집,142.0
...,...,...,...,...,...,...,...,...,...,...
2757,20211109507M05492,성북소방서,복통,20211102,34700,20211102,34800,직장인,집,60.0
2758,20211117104M01900,강서소방서,고열,20210414,190900,20210414,191200,무직,의료관련시설,180.0
2759,20211111106M01431,노원소방서,호흡곤란,20210524,235900,20210525,130,무직,집,150.0
2760,20211107102M01938,동대문소방서,요통,20210715,152000,20210715,152244,직장인,집,164.0
2761,20211110509M01584,도봉소방서,의식장애,20210401,223400,20210401,223800,무직,집,240.0

In [7]:
result = df.groupby(['소방서명'])['소요시각'].mean().sort_values()
result

소방서명
서초소방서     164.883495
서대문소방서    165.056604
종로소방서     175.500000
광진소방서     175.602273
노원소방서     179.579310
강동소방서     181.656566
동작소방서     185.107527
송파소방서     189.330508
구로소방서     189.513274
은평소방서     191.390071
양천소방서     192.201389
마포소방서     196.547445
강남소방서     196.933333
강서소방서     199.696203
중랑소방서     204.877049
성북소방서     205.293578
도봉소방서     207.145631
성동소방서     207.358209
중부소방서     207.563636
관악소방서     209.843750
강북소방서     212.061224
동대문소방서    228.148515
용산소방서     237.366197
영등포소방서    258.839286
Name: 소요시각, dtype: float64

In [8]:
print(result.reset_index().loc[2].values)

['종로소방서' 175.5]

#### 제1유형: 2
학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 골라서,  
해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아 해당 학교의 교원수를 출력하라.

In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('./data/기출문제6회_1유형_2.csv')
df.head()

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [11]:
city = df.loc[df['학교세부유형'] =='일반중학교','시도'].value_counts().index[1]
city

'서울'

In [12]:
df1 = df.loc[(df['학교세부유형'] =='일반중학교') & (df['시도'] == city)].copy()

df1['ratio'] = df1['일반학급_학생수_계'] / df1['교원수_총계_계']

In [13]:
idx = df1['ratio'].idxmax()

print(df1.loc[idx, '교원수_총계_계'])

33

In [14]:
# 정렬
df1.sort_values(by='ratio', ascending=False)

                학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계      ratio
524  단국대학교사범대학부속중학교  서울  일반중학교         606        33  18.363636
444           한영중학교  서울  일반중학교         742        43  17.255814
532         진선여자중학교  서울  일반중학교         997        58  17.189655
441           배재중학교  서울  일반중학교         868        51  17.019608
526           휘문중학교  서울  일반중학교         814        48  16.958333
..              ...  ..    ...         ...       ...        ...
438           동북중학교  서울  일반중학교         233        43   5.418605
256         정화여자중학교  서울  일반중학교         125        24   5.208333
453           경서중학교  서울  일반중학교         112        26   4.307692
386         금호여자중학교  서울  일반중학교          86        21   4.095238
494           개포중학교  서울  일반중학교           0         0        NaN

[387 rows x 6 columns]

#### 제1유형: 3
5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자.  
2018, 2019년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고   
해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라.  
- 1분기: 1,2,3월
- 2분기: 4,5,6월
- 3분기: 7,8,9월
- 4분기: 10,11,12월
- 1분기 월평균 : 1,2,3월의 총범죄수 평균

In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('./data/기출문제6회_1유형_3.csv')
df.head()

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [17]:
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']

In [18]:
# 연도, 월 생성
df['연도'] = df['범죄분류'].str[:4]
df['월']   = df['범죄분류'].str.split('_').str[1].str.replace('월','').astype('int32')

In [19]:
# 분기 생성
df.loc[(df['월'] >=  1) & (df['월'] <=  3), '분기'] = '1'
df.loc[(df['월'] >=  4) & (df['월'] <=  6), '분기'] = '2'
df.loc[(df['월'] >=  7) & (df['월'] <=  9), '분기'] = '3'
df.loc[(df['월'] >= 10) & (df['월'] <= 12), '분기'] = '4'

df['분기'] = df['연도'] +'_'+ df['분기']

In [20]:
idx = df.groupby(['분기'])['총범죄수'].mean().idxmax()
idx

'2019_2'

In [21]:
result = df.loc[df['분기'] == idx, '사기'].max()
print(result)

27766

### 제2유형

다음은 건강상태에 대한 데이터이다.  
학습 데이터를 이용하여 건강상태(General_Health)를 예측하는 모델을 생성하고 테스트 데이터에 적용하여 예측 결과를 csv파일로 제출하시오.  
(모델의 성능은 f1 스코어로 평가)

In [22]:
import numpy as np
import pandas as pd

In [23]:
train = pd.read_csv('./data/기출문제6회_2유형_train.csv')
test = pd.read_csv('./data/기출문제6회_2유형_test.csv')

In [24]:
train.head()

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0
2,ID_3079,Good,Within the past year,Yes,No,No,No,Yes,No,Yes,Female,65-69,170.0,65.77,22.71,Yes,12.0,30.0,2.0,0.0
3,ID_15958,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,40-44,163.0,56.70,21.46,No,24.0,60.0,16.0,3.0
4,ID_11047,Excellent,Within the past year,Yes,No,No,Yes,No,No,No,Male,55-59,185.0,95.25,27.71,Yes,28.0,30.0,30.0,8.0

In [25]:
test.head()

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0
2,ID_14103,Within the past year,Yes,No,No,No,No,No,Yes,Female,40-44,163.0,81.65,30.90,No,4.0,60.0,60.0,8.0
3,ID_10946,Within the past 2 years,Yes,No,No,No,No,No,No,Male,25-29,175.0,74.84,24.37,Yes,15.0,0.0,4.0,4.0
4,ID_1572,5 or more years ago,Yes,No,No,No,No,No,No,Male,25-29,170.0,70.31,24.28,No,0.0,16.0,20.0,28.0

In [26]:
# 학습용 데이터 – 데이터 타입 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11230 entries, 0 to 11229
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            11230 non-null  object
 1   General_Health                11230 non-null  object
 2   Checkup                       11230 non-null  object
 3   Exercise                      11230 non-null  object
 4   Heart_Disease                 11230 non-null  object
 5   Skin_Cancer                   11230 non-null  object
 6   Other_Cancer                  11230 non-null  object
 7   Depression                    11230 non-null  object
 8   Diabetes                      11230 non-null  object
 9   Arthritis                     11230 non-null  object
 10  Sex                           11230 non-null  object
 11  Age_Category                  11230 non-null  object
 12  Height_(cm)                   11230 non-null  float64
 13  Weight_(kg)                   11230 non-null  float64
 14  BMI                           11230 non-null  float64
 15  Smoking_History               11230 non-null  object
 16  Alcohol_Consumption           11230 non-null  float64
 17  Fruit_Consumption             11230 non-null  float64
 18  Green_Vegetables_Consumption  11230 non-null  float64
 19  FriedPotato_Consumption       11230 non-null  float64
dtypes: float64(7), object(13)
memory usage: 1.7+ MB

In [27]:
# 학습용 데이터 기초통계 확인
train.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,11230.000000,11230.000000,11230.000000,11230.000000,11230.000000,11230.000000,11230.000000
mean,170.532769,83.881470,28.769485,4.826714,29.451113,15.112467,6.320125
std,10.766101,22.177621,6.925065,8.072258,25.039505,15.374689,8.393891
min,94.000000,31.750000,13.250000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.050000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,32.037500,5.000000,30.000000,20.000000,8.000000
max,226.000000,293.020000,97.580000,30.000000,120.000000,120.000000,120.000000

In [28]:
# 학습용 데이터 결측치 확인
train.isnull().sum()

ID                              0
General_Health                  0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

In [29]:
# 학습용 데이터의 타겟 값 분포 확인
train['General_Health'].value_counts()

Excellent    4286
Good         3990
Fair         2954
Name: General_Health, dtype: int64

In [30]:
# 테스트용 데이터 데이터타입 확인
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            4813 non-null   object
 1   Checkup                       4813 non-null   object
 2   Exercise                      4813 non-null   object
 3   Heart_Disease                 4813 non-null   object
 4   Skin_Cancer                   4813 non-null   object
 5   Other_Cancer                  4813 non-null   object
 6   Depression                    4813 non-null   object
 7   Diabetes                      4813 non-null   object
 8   Arthritis                     4813 non-null   object
 9   Sex                           4813 non-null   object
 10  Age_Category                  4813 non-null   object
 11  Height_(cm)                   4813 non-null   float64
 12  Weight_(kg)                   4813 non-null   float64
 13  BMI                           4813 non-null   float64
 14  Smoking_History               4813 non-null   object
 15  Alcohol_Consumption           4813 non-null   float64
 16  Fruit_Consumption             4813 non-null   float64
 17  Green_Vegetables_Consumption  4813 non-null   float64
 18  FriedPotato_Consumption       4813 non-null   float64
dtypes: float64(7), object(12)
memory usage: 714.6+ KB

In [31]:
# 테스트용 데이터 결측치 확인
test.isnull().sum()

ID                              0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

In [32]:
# 학습용 데이터의 타겟 값 처리
train_target = train.pop('General_Health')

In [33]:
# 컬럼 삭제
train.drop('ID', axis=1, inplace=True)
test.drop('ID', axis=1, inplace=True)

In [34]:
# 원핫 인코딩
df_t = pd.concat([train, test])

df_t = pd.get_dummies(df_t)

train = df_t.iloc[:len(train)].copy()
test = df_t.iloc[len(train):].copy()

In [35]:
# Min-Max 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

col_num = ['Height_(cm)','Weight_(kg)','BMI','Alcohol_Consumption',
           'Fruit_Consumption','Green_Vegetables_Consumption','FriedPotato_Consumption']

train[col_num] = scaler.fit_transform(train[col_num])
test[col_num]  = scaler.transform(test[col_num])

In [36]:
# [1] Data Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train, train_target, test_size = 0.2)


# [2] Classifier
from sklearn.ensemble import RandomForestClassifier

#model = RandomForestClassifier(n_estimators=300, max_depth=4)
model = RandomForestClassifier(random_state=123)

# [3] Fit
model.fit(X_train, y_train)

# [4] Predict
pred = model.predict(X_test)

# [5] Evaluation
from sklearn import metrics

# Classification report
print(metrics.classification_report(y_test, pred))

print(round(metrics.f1_score(y_test, pred, average='macro'),2))

              precision    recall  f1-score   support

   Excellent       0.64      0.75      0.69       844
        Fair       0.54      0.45      0.49       602
        Good       0.47      0.44      0.45       800

    accuracy                           0.56      2246
   macro avg       0.55      0.55      0.55      2246
weighted avg       0.55      0.56      0.55      2246

0.55

In [37]:
# 예측
pred_test = model.predict(test)

# DataFrame 생성
result = pd.DataFrame({'pred': pred_test })
print(result)

# 파일 쓰기
# result.to_csv('result.csv', index=False) # 인덱스 제거

           pred
0     Excellent
1     Excellent
2     Excellent
3     Excellent
4     Excellent
...         ...
4808  Excellent
4809  Excellent
4810       Fair
4811       Fair
4812       Fair

[4813 rows x 1 columns]

### 제3유형

#### 제3유형: 1

어떤 지역에 남성 650명과 여성 600명이 있다.  
남성이 독감에 걸린 비율은 0.1, 여성이 독감에 걸린 비율은 0.15이다.  
성별과 독감 감염 여부 사이에 연관이 있는지 통계적으로 검정하시오.  

- 귀무가설(H0): 성별과 독감 감염 여부는 서로 관계가 없다.(독립이다)
- 대립가설(H1): 성별과 독감 감염 여부는 서로 관계가 있다.
- 유의 수준: 0.05

1-1. 검정통계량을 반올림하여 소수점 세째 자리 까지 구하시오.

1-2. p-value를 반올림하여 소수점 세째 자리 까지 구하시오.

1-3. 검정결과를 설명 하시오.

---

제3유형: 1-1 검정통계량을 반올림하여 소수점 세째 자리 까지 구하시오.  
제3유형: 1-2. p-value를 반올림하여 소수점 세째 자리 까지 구하시오.

In [38]:
import numpy as np
import pandas as pd

In [39]:
# 남성과 여성의 인구 수
pop_male   = 650
pop_female = 600

In [40]:
# 독감 감염자 수 계산
flu_male   = pop_male   * 0.1
flu_female = pop_female * 0.15

In [41]:
# 비 감염자 수 계산
non_flu_male   = pop_male   - flu_male
non_flu_female = pop_female - flu_female

In [42]:
obs = pd.DataFrame([[flu_male, non_flu_male], [flu_female, non_flu_female]],
                   index=['남자','여자'], columns=['독감감염','독감비감염'])
obs

    독감감염  독감비감염
남자  65.0  585.0
여자  90.0  510.0

In [43]:
from scipy import stats

# statistic(통계량), p_value, dof(자유도), expected_freq(기대빈도)
statistic, p_value, dof, expected = stats.chi2_contingency(obs)

print(round(statistic,3))
print(round(p_value,3))

6.728
0.009

제3유형: 1-3. 검정결과를 설명 하시오.

- p_value가 0.05 보다 작으므로 귀무가설은 기각된다.  
- 성별과 독감감염 여부는 서로 관계가 있다.

#### 제3유형: 2

주어진 데이터를 이용하여 다중선형회귀 문제를 해결하시오.  

- age: Age of patients in years.
- ldl: LDL-Cholesterol ratio of the patient.
- height: The height of the patient in cm.
- weight: The weight of patients in kg.

제3유형: 2-1  
선형회귀 모델을 만들어 독립변수 ldl의 회귀계수를 구하시오.
- 독립변수: age, ldl
- 종속변수: weight

제3유형: 2-2  
age가 고정일때 ldl과 weight가 선형 관계인지 검정하기 위한 p-value를 구하시오.

제3유형: 2-3  
age가 40, ldl이 60일때 위 모델을 기반으로 weight값을 예측하라.

---

제3유형: 2-1  
선형회귀 모델을 만들어 독립변수 ldl의 회귀계수를 구하시오.
- 독립변수: age, ldl
- 종속변수: weight

In [44]:
import numpy as np
import pandas as pd

In [45]:
df = pd.read_csv('./data/기출문제6회_3유형_2.csv')
df

     age    ldl  height  weight
0     65   69.0     168   111.0
1     54  117.0     145    81.0
2     61   86.2     160    72.0
3     57   76.0     176    78.0
4     62  160.0     154    61.0
..   ...    ...     ...     ...
328   46  111.0     143    66.5
329   42  164.0     164    79.0
330   51  116.0     180    92.0
331   45  102.0     166    79.0
332   68   92.0     165    80.0

[333 rows x 4 columns]

In [46]:
import statsmodels.formula.api as smf
model  = smf.ols('weight ~ age + ldl', df)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Thu, 28 Mar 2024   Prob (F-statistic):           0.000608
Time:                        02:58:15   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     74.8953      4.455     16.813      0.000      66.132      83.658
age           -0.0361      0.059     -0.611      0.542      -0.152       0.080
ldl            0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
coef = result.params['ldl']
print(coef)

0.08192866122847184

제3유형: 2-2  
age가 고정일때 ldl과 weight가 선형 관계인지 검정하기 위한 p-value를 구하시오.

In [48]:
p_value = result.pvalues['ldl']
print(p_value)

0.00023778081979582738

제3유형: 2-3  
age가 40, ldl이 60일때 위 모델을 기반으로 weight값을 예측하라.

In [49]:
data = pd.DataFrame({'age':[40], 'ldl':[60]})
data

   age  ldl
0   40   60

In [50]:
pred = result.predict(data)
pred[0]

78.36693401912517

---

## 기출문제 5회

### 제1유형

#### 제1유형: 1
종량제봉투용도가 '음식물쓰레기'이고 종량제봉투사용 대상이 '사업장용'인 1.5L 봉투 가격의 평균을 구하시오. (반올림하여 정수로 출력하시오)  
단, 0인 행은 제외하시오.

#### 제1유형: 2
BMI(Body Mass Index, 체질량 지수)는 몸무게(kg)를 키(m)의 제곱으로 나누어 계산된다.  
BMI에 따른 비만도 분류는 다음과 같다.

|BMI 범위|비만도 분류|
|---|---|
|18.5 미만|저체중|
|18.5 이상 23 미만|정상|
|23 이상 25 미만|고도비만|
|25 이상|초고도비만|

주어진 BMI 데이터셋에서 초고도비만과 정상에 속하는 인원 수와 합계를 정수로 출력하시오.

#### 제1유형: 3
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.  
각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

---

#### 제1유형: 1
종량제봉투용도가 '음식물쓰레기'이고 종량제봉투사용 대상이 '사업장용'인 1.5L 봉투 가격의 평균을 구하시오. (반올림하여 정수로 출력하시오)  
단, 0인 행은 제외하시오.

In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv('./data/기출문제5회_1유형.csv')
df.head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,300,550,0,1400,0,2100,0,0,0,자원순환과
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,300,550,0,1400,0,2100,0,0,0,자원순환과
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,300,550,0,0,0,0,0,0,0,자원순환과
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,300,550,0,0,0,0,0,0,0,자원순환과
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,300,550,0,0,0,0,0,0,0,자원순환과

In [53]:
print(df['종량제봉투용도'].unique())
print(df['종량제봉투사용대상'].unique())

['생활쓰레기' '음식물쓰레기']
['사업장용' '기타' '가정용' '영업장용' '범용' '영업용' '기타(영업장용)' '소규모배출사업장 전용' '가정용+사업장용'
 '가정용or사업용' '가정용(음식물)' '가정용(공사장생활폐기물)']

In [54]:
res = df.loc[(df['종량제봉투용도']=='음식물쓰레기')&(df['종량제봉투사용대상']=='사업장용')&(df['1.5L가격']!=0), '1.5L가격'].mean()

In [55]:
print(int(res))

50

#### 제1유형: 2
BMI(Body Mass Index, 체질량 지수)는 몸무게(kg)를 키(m)의 제곱으로 나누어 계산된다.  
BMI에 따른 비만도 분류는 다음과 같다.

|BMI 범위|비만도 분류|
|---|---|
|18.5 미만|저체중|
|18.5 이상 23 미만|정상|
|23 이상 25 미만|고도비만|
|25 이상|초고도비만|

주어진 BMI 데이터셋에서 초고도비만과 정상에 속하는 인원 수와 합계를 정수로 출력하시오.

In [56]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('./data/기출문제5회_1유형_2.csv')
df.head()

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [58]:
df['BMI'] = df['weight(kg)'] / ((df['height(cm)']/100)**2)
df.head()

       ID  height(cm)  weight(kg)        BMI
0  user_1       173.0        67.5  22.553376
1  user_2       149.5        82.5  36.912339
2  user_3       143.8        64.6  31.240268
3  user_4       163.1        87.2  32.779971
4  user_5       159.6        77.1  30.268340

In [59]:
overweight = len( df[(df['BMI'] >= 25)] )
normal     = len( df[(df['BMI'] >= 18.5  )&(df['BMI'] < 23)] )

print(overweight + normal)

9497

#### 제1유형: 3
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.  
각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [60]:
import numpy as np
import pandas as pd

In [61]:
df = pd.read_csv('./data/기출문제5회_1유형_3.csv')
df.head()

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [62]:
col_in  = ['초등학교_전입_도내','초등학교_전입_도외','중학교_전입_도내',
           '중학교_전입_도외','고등학교_전입_도내','고등학교_전입_도외']

col_out = ['초등학교_전출_도내','초등학교_전출_도외','중학교_전출_도내',
           '중학교_전출_도외','고등학교_전출_도내','고등학교_전출_도외']

In [63]:
df['순유입인원'] = df[col_in].sum(axis=1) - df[col_out].sum(axis=1)

In [64]:
df.groupby('년도')['순유입인원'].max()

년도
2012     949
2013    1339
2014    2225
2015    1498
2016     774
2017     932
2018    1158
2019    1821
2020    1762
2021    1395
Name: 순유입인원, dtype: int64

In [65]:
result = df.groupby('년도')['순유입인원'].max().sum()
print(result)

13853

### 제2유형

다음에 주어진 데이터셋은 중고차와 관련된 데이터이다.  
학습용 데이터를 이용하여 중고차의 판매 가격을 예측하고, 평가용 데이터에 대한 예측 결과를 csv파일로 제출하시오. (모델의 성능은 RMSE로 평가)

In [66]:
import numpy as np
import pandas as pd

In [67]:
train = pd.read_csv('./data/기출문제5회_2유형_train.csv')
test = pd.read_csv('./data/기출문제5회_2유형_test.csv')

In [68]:
train

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0
2,1790,A Class,2013,8500,Manual,69031,Petrol,125,51.4,1.6
3,10018,B Class,2015,13998,Automatic,34739,Diesel,125,56.5,2.1
4,142,E Class,2017,20998,Semi-Auto,21352,Diesel,20,72.4,2.0
...,...,...,...,...,...,...,...,...,...,...
9818,5612,S Class,2016,79950,Semi-Auto,25317,Petrol,570,24.1,6.0
9819,9661,C Class,2016,16000,Manual,34903,Diesel,20,68.9,2.1
9820,10521,A Class,2015,11295,Automatic,86890,Diesel,20,64.2,2.1
9821,9914,A Class,2016,11849,Manual,27958,Diesel,0,80.7,1.5
9822,1468,C Class,2015,13448,Semi-Auto,31878,Diesel,20,65.7,2.1

In [69]:
test

,ID,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,0,SLK,2005,Automatic,63000,Petrol,325,32.1,1.8
1,2,SL CLASS,2016,Automatic,6200,Petrol,555,28.0,5.5
2,14,GLA Class,2016,Automatic,41713,Diesel,125,56.6,2.1
3,15,B Class,2017,Automatic,24841,Diesel,150,68.9,1.5
4,18,B Class,2017,Automatic,14128,Diesel,150,68.9,2.1
...,...,...,...,...,...,...,...,...,...
3291,13096,GLE Class,2016,Automatic,27804,Diesel,260,42.8,3.0
3292,13098,C Class,2019,Automatic,10635,Petrol,145,44.1,1.5
3293,13101,GLC Class,2016,Automatic,14000,Diesel,125,56.5,2.1
3294,13109,A Class,2017,Automatic,20477,Diesel,145,68.9,2.1
3295,13112,C Class,2019,Automatic,5000,Diesel,145,61.4,2.0

In [70]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   object
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   object
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   object
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 767.6+ KB

In [71]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3296 non-null   int64
 1   model         3296 non-null   object
 2   year          3296 non-null   int64
 3   transmission  3296 non-null   object
 4   mileage       3296 non-null   int64
 5   fuelType      3296 non-null   object
 6   tax           3296 non-null   int64
 7   mpg           3296 non-null   float64
 8   engineSize    3296 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 231.9+ KB

In [72]:
train.isnull().sum()

ID              0
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [73]:
test.isnull().sum()

ID              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [74]:
# 학습용 데이터의 타겟 값 처리
train_target = train.pop('price')

In [75]:
# 컬럼 삭제
train.drop('ID', axis=1, inplace=True)
test.drop('ID', axis=1, inplace=True)

In [76]:
col_cat = ['model','transmission','fuelType']
col_num = ['year','mileage','tax','mpg','engineSize']

In [77]:
# 원핫 인코딩
df_t = pd.concat([train, test])

df_t = pd.get_dummies(df_t)

train = df_t.iloc[:len(train)].copy()
test = df_t.iloc[len(train):].copy()

In [78]:
# Min-Max 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

train[col_num] = scaler.fit_transform(train[col_num])
test[col_num]  = scaler.transform(test[col_num])

In [79]:
# [1] Data Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train, train_target, test_size = 0.3)


# [2] Classifier
from xgboost import XGBRegressor
#from sklearn.ensemble import RandomForestRegressor

model = XGBRegressor()
#model = RandomForestRegressor(n_estimators=100, max_depth=4)
#model = RandomForestRegressor(random_state=123)

# [3] Fit
model.fit(X_train, y_train)

# [4] Predict
pred = model.predict(X_test)

# [5] Evaluation
from sklearn import metrics

print(np.sqrt(metrics.mean_squared_error(y_test, pred)))

2892.7426814157884

#### 제출 파일 생성

In [80]:
# 예측
pred_test = model.predict(test)

# DataFrame 생성
result = pd.DataFrame({'pred': pred_test})

# 파일 쓰기
#result.to_csv('result.csv', index=False) # 인덱스 제거

In [81]:
result

              pred
0      5468.505859
1     60097.042969
2     17297.734375
3     15007.532227
4     15646.477539
...            ...
3291  27889.226562
3292  24998.511719
3293  25946.785156
3294  17292.345703
3295  29071.378906

[3296 rows x 1 columns]

---

In [82]:
# End of file